<%= form_with model: book, class: "space-y-0" do |f| %>
  <%= render "books/form/errors", book: book %>
  <%= render "books/form/save_buttons", f: f, book: book, show_status: true %>

  <div data-controller="tab"
       data-tab-persist-value="book-form-<%= book.persisted? ? book.id : 'new' %>"
       class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden">

    <%= render "books/form/tabs_nav" %>

    <%= render "books/form/panel_info", f: f, book: book %>
    <%= render "books/form/panel_contacts_rights", f: f, book: book %>
    <%= render "books/form/panel_notes", f: f, book: book %>
    <%= render "books/form/panel_coverage", f: f, book: book %>
    <%= render "books/form/panel_film", f: f, book: book %>
    <%= render "books/form/panel_report", f: f, book: book %>

    <% if defined?(@custom_fields) && @custom_fields&.any? %>
      <div data-tab-target="panel" data-tab="custom_fields"
           class="hidden px-6 py-6 space-y-6">
        <%= render "books/form/panel_custom_fields", f: f, book: book, custom_fields: @custom_fields %>
      </div>
    <% end %>

  </div>

  <%= render "books/form/save_buttons", f: f, book: book %>
<% end %>
