<%= form_with model: book, class: "space-y-0" do |f| %>
  <%= render "books/form/errors", book: book %>
  <%= render "books/form/save_buttons", f: f, book: book, show_status: true %>

  <div data-controller="tab"
       data-tab-persist-value="book-form-<%= book.persisted? ? book.id : 'new' %>"
       class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden">

    <%= render "books/form/tabs_nav" %>

    <%= render "books/form/panel_info", f: f, book: book %>
    <%= render "books/form/panel_notes", f: f, book: book %>
    <%= render "books/form/panel_coverage", f: f, book: book %>
    <%= render "books/form/panel_film", f: f, book: book %>
    <%= render "books/form/panel_report", f: f, book: book %>

  </div>

  <%= render "books/form/save_buttons", f: f, book: book %>
<% end %>
